.title{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #fdc500;
    margin: 70px 0 30px;
    text-transform: uppercase;
}

.title h2{
    font-size: 32px;
    color: #29272a;
}